html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#main {
    height:100%;
    width: 100%;
}

background-image {
    width: 100%;
    height: auto;
}